* {
    box-sizing: border-box;
}

body {
    scroll-behavior: smooth;
    /* background-color: blanchedalmond; */
    /* margin: 0; */
    font-family: 'Open Sans', sans-serif !important;
    /* font-family: 'Allison', cursive; */
}

.navbar {
    position: sticky !important;
    top: 0;
    z-index: 20;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center-middle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.viewScreen {
    display: flex;
}

.shortCardArea {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 1;
    margin: 0 16%;
}

.detailCardArea {
    position: fixed;
    /* background-color: #cff1ed; */
    background: rgb(2, 0, 36);
    background: linear-gradient(30deg, rgba(2, 0, 36, 1) 0%, rgba(223, 211, 22, 1) 80%, rgba(0, 212, 255, 1) 100%);
    min-height: 100vh;
    width: -webkit-fill-available;
}

.shortPokeInfoCard {
    background-color: rgba(72, 208, 176, 1);
    width: 200px;
    height: 200px;
    color: white;
    border-radius: 16px;
    padding: 0 8px;
    cursor: pointer;
}

.PokemonPicSize {
    width: 100px;
}

.shortPokeInfoName {
    padding: 16px;
    margin: 0;
    font-size: 1.5rem;
}

.shortPokeInfo {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.shortPokeInfoText {
    text-align: center;
    /* background-color: rgba(134, 255, 143, 1); */
    margin: 8px 0;
    width: 60px;
    border-radius: 16px;
}

.detailCardFrame {
    z-index: 20;
    cursor: pointer;
}

.detailCard {
    background-color: rgba(72, 208, 176, 1);
    min-width: 500px;
    min-height: 40vh;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
    /* margin-left: 150px; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    z-index: 20;
    color: cornsilk;
    font-size: 3rem;
}

.detailCardHeader {
    display: flex;
    flex-direction: column;
    margin: 16px;
}

.detailCardHeader p {
    margin: 0;
}

.detailCardPokemonInfo {
    font-size: 1rem;
    /* margin-left: 16px; */
}

.detailCardPic {
    display: flex;
    justify-content: center;
    align-items: center;
}

.detailCardInfo {
    background-color: white;
    min-width: 500px;
    min-height: 40vh;
    border-radius: 32px;
    margin-top: -32px;
    /* margin-left: 150px; */
    z-index: 20;
}

.PokemonDetailPic {
    width: 300px;
    /* margin-bottom: -10px; */
    z-index: 30;
}

.grass {
    background: rgb(72, 195, 176);
    background: radial-gradient(circle, rgba(72, 195, 176, 1) 70%, rgba(72, 208, 176, 1) 100%);
}

.fire {
    background: rgb(251, 90, 108);
    background: radial-gradient(circle, rgba(251, 90, 108, 1) 70%, rgba(251, 108, 108, 1) 100%);
}

.water {
    background: rgb(40, 200, 252);
    background: radial-gradient(circle, rgba(40, 200, 252, 1) 70%, rgba(40, 220, 252, 1) 100%);
}

.bug {
    background: rgb(247, 185, 109);
    background: radial-gradient(circle, rgba(247, 185, 109, 1) 70%, rgba(247, 202, 109, 1) 100%);
}

.normal {
    background: rgb(227, 210, 220);
    background: radial-gradient(circle, rgba(227, 210, 220, 1) 70%, rgba(227, 225, 220, 1) 100%);
}

.poison {
    background: rgb(247, 220, 188);
    background: radial-gradient(circle, rgba(247, 220, 188, 1) 70%, rgba(247, 233, 188, 1) 100%);
}

.electric {
    background: rgb(226, 180, 0);
    background: radial-gradient(circle, rgba(226, 180, 0, 1) 70%, rgba(226, 199, 0, 1) 100%);
}

.ground {
    background: rgb(181, 155, 145);
    background: radial-gradient(circle, rgba(181, 155, 145, 1) 70%, rgba(181, 173, 145, 1) 100%);
}

.fairy {
    background: rgb(232, 195, 235);
    background: radial-gradient(circle, rgba(232, 195, 235, 1) 70%, rgba(232, 209, 235, 1) 100%);
}

.fighting {
    background: rgb(240, 165, 182);
    background: radial-gradient(circle, rgba(240, 165, 182, 1) 70%, rgba(240, 182, 182, 1) 100%);
}

.psychic {
    background: rgb(232, 190, 227);
    background: radial-gradient(circle, rgba(232, 190, 227, 1) 70%, rgba(232, 207, 227, 1) 100%);
}

.rock {
    background: rgb(181, 158, 145);
    background: radial-gradient(circle, rgba(181, 158, 145, 1) 70%, rgba(181, 173, 145, 1) 100%);
}

.ghost {
    background: rgb(207, 176, 205);
    background: radial-gradient(circle, rgba(207, 176, 205, 1) 70%, rgba(207, 196, 205, 1) 100%);
}

.ice {
    background: rgb(197, 206, 222);
    background: radial-gradient(circle, rgba(197, 206, 222, 1) 70%, rgba(197, 221, 222, 1) 100%);
}

.dragon {
    background: rgb(232, 192, 207);
    background: radial-gradient(circle, rgba(232, 192, 207, 1) 70%, rgba(232, 207, 207, 1) 100%);
}

.dark {
    background: rgb(61, 26, 52);
    background: radial-gradient(circle, rgba(61, 26, 52, 1) 70%, rgba(61, 46, 52, 1) 100%);
}

.steel {
    background: rgb(120, 120, 120);
    background: radial-gradient(circle, rgba(120, 120, 120, 1) 70%, rgba(147, 147, 147, 1) 100%);
}

.flying {
    background: rgb(116, 157, 216);
    background: radial-gradient(circle, rgba(116, 157, 216, 1) 70%, rgba(116, 172, 216, 1) 100%);
}

@media(max-width: 350px) {
    .shortCardArea {
        margin: 0;
    }
}

.d-none {
    display: none;
}